{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load like_tags %}
{# 页面标题 #}
{% block title %}我的网站{% endblock %}
{% block nav_blog %}active{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}


{# 页面内容 #}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客{% endblock %}</div>
                    <div class="panel-boby">
                        {% for blog in blogs %}
                        <div class="blog">
                           <h3><a href="{% url 'blog_datail' blog.pk %}">{{ blog.title }}</a></h3>
                            <p class="blog-info">
                                <span class="glyphicon glyphicon-tag"></span><a href="{% url 'blogs_type' blog.type_name.pk %}">{{blog.type_name}}</a>
                                <span class="glyphicon glyphicon-time"></span>{{blog.created_time|date:"Y-m-d"}}
                                阅读({{blog.get_read_num }})
                                评论({% get_comment_count blog %})
                                点赞({% get_like_count blog %})
                            </p>
                            <p>{{ blog.content|striptags|safe|truncatechars:200}}</p> {# striptags过滤器为了去掉html标签#}
                        </div>
                        {% empty%}
                            <div class="blog">
                                <h3>-- 暂无博客 --</h3>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="paginator">
                      <ul class="pagination">
                        <li>
                            {% if page_of_blogs.has_previous %}{# 判断是在第一页#}
                                <a href="?page={{page_of_blogs.previous_page_number}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                         </li>
                    {% for page_num in page_range %}    {# 循环页数 #}
                          {% if page_num == page_of_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                          {% else %}
                                {% if page_num == '...'%}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                          {% endif %}

                    {% endfor %}
                        <li>
                            {% if page_of_blogs.has_next %} {# 判断是否有下一页 #}
                                <a href="?page={{page_of_blogs.next_page_number}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                      </ul>
                    <p>
                        共有{{ page_of_blogs.paginator.count }}篇博客
                        当前第{{ page_of_blogs.number }}页 共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
            </div>
            <div class="hidden-xs col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-boby">
                        {% for types in type_name %}
                        <ul class="blog_types">
                            <li>
                                <span class="glyphicon glyphicon-tag"></span>
                                <a href="{% url 'blogs_type' types.pk %}">{{types.type_name}}({{types.blog_count}})</a>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date,blog_count in blog_dates.items %}
                            <li><a href="{% url 'blog_date' blog_date.year blog_date.month%}">
                                {{blog_date|date:"Y年m月"}}({{ blog_count }})
                            <a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

